[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipython = "*"
bpython = "*"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
